#fpub-popup {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 999999;
    text-align: center;
}

.close-overlay {
    border-radius: 8px;
    border: solid 1px black;
    float: right;
    margin-right: 50px;
    margin-top: -13px;
    background-color: #c00;
    padding: 0 3px 0 3px;
    color: white;
}

.close-overlay:hover {
    background-color: #f60;
    color: white;
}