#fpub-popup {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 999999;
    text-align: center;
    display: none;
}

.close-overlay {
    float: right;
    margin-right: 50px;
    margin-top: -13px;
    padding: 0 3px 0 3px;
}

.close-overlay:hover {
}