#fpub-popup {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: white;
    z-index: 999999;
    text-align: center;
    border-top: 1px solid black;
}

.close-overlay {
    border-radius: 4px;
    border: solid 1px black;
    float: right;
    margin-right: 50px;
    margin-top: -13px;
    background-color: white;
    padding: 0 3px 0 3px;
}

.close-overlay:hover {
    background-color: #DDDDDD;
}